.patients-list {
    width: 100%;
    height: calc(100vh - 150px);
    overflow: scroll;

    * {
        color: var(--absolute-white);
    }
}

.wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
